/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(135deg, #2b1055, #7597de);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container utama */
.box {
    background: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 25px rgba(0,0,0,0.3);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    width: 350px;
}

/* Gambar */
#gambar {
    width: 100%;
    height: 220px;

    object-fit: cover;
    border-radius: 15px;

    box-shadow: 0px 5px 15px rgba(0,0,0,0.4);

    transition: 0.4s ease;
}

/* Tombol */
button {
    width: 100%;
    padding: 12px 0;
    font-size: 16px;

    background: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: #ffd369;
    transform: translateY(-2px);
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
}

button:active {
    transform: scale(0.97);
}

#caption {
    margin-top: 10px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    text-align: center;

    background: rgba(0,0,0,0.3);
    padding: 8px 12px;
    border-radius: 10px;

    width: 100%;
    backdrop-filter: blur(3px);
    transition: 0.3s ease;
}

